$('#comments_partial_<%= @commentable.id %>').before('<div id="flash_notice"><%= escape_javascript(flash.discard(:notice)) %></div>');
$('#comments_partial_<%= @commentable.id %>').prepend("<%= escape_javascript(render(:partial => 'comments/comment', :object => @comment)) %>");
$("#comment_<%= @comment.id %>").effect("highlight", {}, 3000);
//$('#new_comment textarea').val('');
$('.comment_content_<%= @commentable.id %>').val('');

$('div.fancybox-sidebar > div.links > #comments_partial_<%= @commentable.id %>').prepend("<%= escape_javascript(render(:partial => 'comments/comment', :object => @comment)) %>");

