<div class="events">
  <% if params[:controller] == "places" %>
    <div class="info-section-title title_text"><%= t('.title')%><% if user_signed_in? %><%= link_to "", new_user_event_path(current_user, :place_id => @place.id), :class =>"add_event_button hastip", :title=>t(".tip_create") %><% end %></div>
  <% else %>
    <div class="info-section-title title_text"><%= t('.title')%><% if user_signed_in? and is_current_user(@user) %><%= link_to "", new_user_event_path(current_user), :class => "add_event_button hastip", :title =>t(".tip_create") %><% end %></div>
  <% end %>
  <div class="info-section-content">
    <% @events.each do |event| %>
      <li>
        <figure><strong><%= l(event.date, :format => :date_only) %></strong><%= l(event.date, :format => :month_only) %></figure>
        <div class="event-desc-container desc_text_light">
          <span class="wordwrap"><%= link_to event.name, user_event_path(event.creator, event), :class => "general big_text" %></span><br/>
          <% if params[:controller] == "places" %>
            <%= t('.created')%> <span class="wordwrap"><%= link_to event.creator.profile.full_name, user_profile_path(event.creator), :class => "general" %></span><br/>
          <% else %>
            <% if !event.place.nil? %>
              <%= t('.at') %> <%= link_to event.place.name, place_path(event.place), :class => "general" %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </div>
</div>
