<div class="general_box_list">
  <div class="general_box_image">
    <%=h link_to(image_tag(place_thumb_photo(place),
      :class => "thumb_profile_pic imagedropshadow"), place_path(place)) %>
  </div>
  <div class="general_box_content">
    <div class="general_box_text">
      <div class="resource_container_dark">
        <div class="fav_place_text break-word">
          <%= link_to place.name, place_path(place), :class => "general_white title_text bold_text" %><br/>
        </div>
      </div>
      <div class="resource_container">
        <%= place.street if place.street %><br/>
        <span class="wordwrap"><%= link_to place.city.name, city_path(place.city), :class => "general" if place.city %></span><br/>
        <span class="light_blue_text"><%= place.city.region.name if place.city.region %></span><br/>
        <%= link_to place.country.name, country_path(place.country), :class => "general" if place.country %><br/>
      </div>
      <div class="resource_container">
        <% if friends.count > 0 %>
          <%= partial_text_desc %> : <br/>
          <% friends.each do |friend| %>
            <%=h link_to image_tag(get_profile_photo_url(friend.profile_photo),
              :class => "thumb_profile_pic imagedropshadow"), user_profile_path(friend), :class => "hastip", :title => "#{friend.profile.full_name}" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>