<div class="info-box-title bold_text"><%= image_tag("popular-big.png") %> <%= t('.title')%></div>
<div class="info-box-content">
  <div class="general_box">
    <% popular = popular_reviewers() %>
    <% popular.each do |reviewer| %>
        <div class="hidden_box_container">
          <div class="general_box_list">
          <div class="general_box_image">
          <%=h link_to image_tag(get_profile_photo_url(reviewer.profile_photo),
                  :class => "thumb_profile_pic imagedropshadow"), user_profile_path(reviewer) %>
          </div>
          <div class="general_box_content">
            <div class="general_box_text" >
            <span class="wordwrap"><%= reviewer.profile.full_name %></span>
            <%= reviewer.total_votes %>
            </div>
          </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
