<div class="activity hashtmltipwide small_text" rel="#htmltip-ar-<%= activity.id %>">
  <div class="review_box">
    <div class="review_box_user">
    <%=h image_tag(get_profile_photo_url(activity.user.profile_photo),
          :class => "thumb_profile_pic") %>
    </div>
    
    <span class="wordwrap"><%=h activity.user.profile.full_name %></span> created event in
    <span class="shorten_no_link"><%= activity.target.place.name %></span>
    <%#*<div class="light_grey_text small_text">%>
      <%#= l(activity.created_at, :format => '%d %b %Y, %H:%M') %>
    <%#*</div>%>
    
  </div>
</div>
<div class="htmltipcontent" style="display:none;" id="htmltip-ar-<%= activity.id %>">
  <%= render :partial => "home/added_event", :locals => {:activity => activity} %>
</div>