<div class="review_box">
  <div class="review_box_Body">
    <div class="review_box_Message" >
      <%=h link_to activity.user.profile.full_name, user_profile_path(activity.user), :class => "general" %> changed <%= get_possesive_pronoun(activity.user.profile.gender) %> profile picture<br/>
      <% @photo = Photo.find_by_id(activity.target_id) %>
      <%=h link_to(image_tag(@photo.image,
        :class => "imagedropshadow"), user_photo_album_path(activity.user, @photo.photo_album)) %>
      <abbr class="timeago" title="<%= activity.target.created_at.getutc.iso8601 %>">
        <%= timeago_tag activity.target.created_at, :nojs => true %>
      </abbr>
    </div>
  </div>
</div>