<% content_for :title, "#{@user.profile.full_name}" %>
<% content_for :head do %>
  <script type="text/javascript">
    var map;
    var city_marker;
    var city_icon;
    var city_latitude = 0;
    var city_longitude = 0;
    var myLatlng;
    var cities = new Array();
    var cities_marker = new Array();
    var info_windows = new Array();
    var city_info = {};
    var markerCluster = null;

    function set_discover_size()
    {
      var windowWidth = $(window).width();
      var windowHeight = $(window).height();
      var discoverHeight = windowHeight - 100;
      $('#discover').css({'width':windowWidth ,'height':discoverHeight });
    }
    function resize_map() {
      set_discover_size();
      google.maps.event.trigger(map, "resize");
    };

    function display_marker(city_info)
    {
      var index_marker = city_info["index"];
      $("html, body").animate({ scrollTop: 0 }, "slow");
      close_all_info_windows();
      google.maps.event.trigger(cities_marker[index_marker], 'click');
    }

    $(document).ready(function($) { // document ready

      $('#hideshow').on('click', function(event) {
        $('.stacked_view_box').toggle('show');
      });

      set_discover_size();

      var resizeTimer;
      $(window).resize(function() {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(resize_map, 100);
      });

      <% if !@location.nil? %>
        city_latitude = <%= @location.latitude %>;
        city_longitude = <%= @location.longitude %>;
      <% elsif !@hometown.nil? %>
        city_latitude = <%= @hometown.latitude %>;
        city_longitude = <%= @hometown.longitude %>;
      <% else %>
        city_latitude = 0;
        city_longitude = 0;
      <% end %>

      $('.show_on_map').on('click', function(event){
        event.preventDefault();
        city_info = {};
        city_info["index"] = parseInt($(this).attr('data-index'));
        display_marker(city_info);
      });

      zoom = parseInt(<%= @zoom %>);
      if (zoom == 0)
      {
        zoom = 2;
      }
      else
      {
        zoom = 13;
      }

      myLatlng = new google.maps.LatLng(city_latitude, city_longitude);
      var mapOptions = {
        zoom: zoom,
        /*minZoom: 2,
        maxZoom: 10,*/
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("discover"), mapOptions);
      google.maps.event.addListener(map, 'idle', ajax_request_marker);

      markerCluster = new MarkerClusterer(map);
      //show_markers();

      function ajax_request_marker()
      {
        var bounds =  map.getBounds();
        var ne = bounds.getNorthEast();
        var sw = bounds.getSouthWest();

        var location = "b1=" + sw.lat() + "&b2=" + sw.lng() + "&b3=" + ne.lat() + "&b4=" + ne.lng();
        //var location = "b1=" + "62.83508901142282" + "&b2=" + "150.64453125" + "&b3=" + "27.371767300523047" + "&b4=" + "-114.08203125";
        $.ajax({
          type: "GET",
          url: '<%= user_favorite_cities_path(@user, format: :js) %>',
          data: location,
          success: function(data) {
            show_markers();
          }
        });
        //show_markers();
      }

    });
    /*$(document).ajaxComplete(function(event, request) {
      show_markers();

      $('.show_on_map').on('click', function(event){
        event.preventDefault();
        city_info = {};
        city_info["index"] = parseInt($(this).attr('data-index'));
        display_marker(city_info);
      });
    });*/
    
    function show_markers()
    {
      var i;
      var bounds;
      cities = [];
      close_all_info_windows();
      info_windows.length = 0;

      if ($('#fav_cities_json').length)
      {
        var myVarsJSON = $("#fav_cities_json").html(),
        cities = $.parseJSON(myVarsJSON);

        clear_overlays();
        /*if (markerCluster != null)
        {
          markerCluster.clearMarkers();
        }*/
        for (i = 0; i < cities.length; i++)
        {
            create_marker(cities[i]);
        }
        //markerCluster.addMarkers(cities_marker);
        //open_all_info_windows();
        /*bounds = new google.maps.LatLngBounds();
        for(i = 0; i < cities_marker.length; i++) {
          bounds.extend(cities_marker[i].getPosition());
        }
        map.fitBounds(bounds);*/
      }
    }
    function clear_overlays() {
      if (cities_marker) {
        for (i in cities_marker) {
          cities_marker[i].setMap(null);
        }
      }
      cities_marker.length = 0;
    }
    function close_all_info_windows() {
      for (var i = 0; i < info_windows.length; i++) {
         info_windows[i].close();
      }
    }
    function open_all_info_windows() {
      for (var i = 0; i < info_windows.length; i++) {
         info_windows[i].open(map,places_marker[i]);
      }
    }
    function create_marker(city_info)
    {
      var contentString;
      var infowindow;
      //var image;
      var marker;
      var latlng;
      var image_height;
      var map_zoom;
      var z_index = 1;

      //image = "/assets/images/marker-icon-small.png";
      latlng = new google.maps.LatLng(city_info["latitude"], city_info["longitude"]);
      map_zoom = map.getZoom();
      if (map_zoom < 5)
      {
        if (city_info["rate"] >= 1){
          image_height = 40;
          z_index = 10;
        }else{
          image_height = 20;
          z_index = 1;
        }
      }else if (map_zoom < 8){
        if (city_info["rate"] >= 1){
          image_height = 40;
          z_index = 10;
        /*}else if (city_info["rate"] >= 1){
          image_height = 20;*/
        }else{
          image_height = 20;
          z_index = 1;
        }
      }else if (map_zoom < 10){
        if (city_info["rate"] >= 1){
          image_height = 40;
          z_index = 10;
        }else{
          image_height = (map.getZoom() + 1) * 4;
          z_index = 1;
        }
      }else{
        if (city_info["rate"] >= 1){
          image_height = 40;
          z_index = 10;
        }else{
          image_height = (map.getZoom() + 1) * 5;
          z_index = 1;
        }
      }
      marker = new RichMarker({
        position: latlng,
        map: map,
        draggable: false,
        anchor: RichMarkerPosition.MIDDLE,
        content: '<div class="rich_marker"><img style="height:'+ image_height + 'px;" src="' + city_info["image"] + '" title="' + city_info["name"] + '"/></div>'
      });
      marker.setZIndex(z_index);

      contentString = '<div class="infowindow"><div class="infowindow_image"><a href="' + city_info["path"] + '"><img src="' + city_info["image"] + '" class="photo_in_profile" alt=""></a></div><div class="infowindow_content"><div class="bold_text"><a href="' + city_info["path"] + '">' + city_info["name"] + '</a></div>' + city_info["region"] + ', ' + city_info["country"] + '</div></div>';
      infowindow = new google.maps.InfoWindow({
        content: contentString,
        disableAutoPan: true
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
      });
      //infowindow.open(map,marker);
      info_windows.push(infowindow);
      cities_marker.push(marker);
    }


  </script>

<% end %>
<div class="page-container-full">
  <div id="header-map"><div id="discover"></div></div>
  <%#= render :partial => "shared/stacked_view_button" %>
  <%#*<div class="stacked_view_box">%>
    <%#*<div class="padding">%>
      <%#*<div class="most_popular_places">%>
        <%#*<div id="paginator">%>
          <%#= paginate @cities, :remote => true, :theme => "slider" %>
        <%#*</div>%>
        <%#*<div class="place-found-wrapper">%>
        <%#*<div class="places-found-dock">%>
          <div id="favorite_cities">
            <%= render :partial => 'favorite_cities/favorite_cities', :locals => {:cities => @cities, :cities_list => @cities_list} %>
          </div>
        <%#*</div>%>
        <%#*</div>%>
        <%#*<div class="clear_float"></div>%>
      <%#*</div>%>
    <%#*</div>%>
  <%#*</div>%>
</div>