<% content_for :title, Footprint32::APP_NAME %>
<% content_for :head do %>
  <script type="text/javascript">
    var map;
    var place_marker;
    var place_icon;
    var place_latitude = 0;
    var place_longitude = 0;
    var myLatlng;
    var places = new Array();
    var places_marker = new Array();
    var info_windows = new Array();
    var maininfowindow;

    function set_discover_size()
    {
      var windowWidth = $(window).width() - 250;
      var windowHeight = $(window).height();
      var discoverHeight = windowHeight - 100;
      $('#discover').css({'width':windowWidth ,'height':discoverHeight });
      $('.content_album').css({'height':discoverHeight });
      if (windowWidth < 1050)
        windowWidth = 1050;
    }
    function resize_map() {
      set_discover_size();
      google.maps.event.trigger(map, "resize");
    };

    function display_marker(place_info)
    {
      var index_marker = place_info["index"];
      $("html, body").animate({ scrollTop: 0 }, "slow");
      close_all_info_windows();
      google.maps.event.trigger(places_marker[index_marker], 'click');
    }

    $(document).ready(function(){
      set_discover_size();

      var resizeTimer;
      $(window).resize(function() {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(resize_map, 100);
      });

      myLatlng = new google.maps.LatLng(place_latitude, place_longitude);
      var mapOptions = {
        zoom: 3,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("discover"), mapOptions);

      show_markers();
    });

    function show_markers()
    {
      var i;
      var bounds;
      places = [];

      info_windows.length = 0;

      if ($('#albums_json').length)
      {
        var myVarsJSON = $("#albums_json").html(),
          places = $.parseJSON(myVarsJSON);
        clear_overlays();
        for (i = 0; i < places.length; i++)
        {
            create_marker(places[i]);
        }
        bounds = new google.maps.LatLngBounds();
        for(i = 0; i < places_marker.length; i++) {
          bounds.extend(places_marker[i].getPosition());
        }
        map.fitBounds(bounds);
      }
    }
    function clear_overlays() {
      if (places_marker) {
        for (i in places_marker) {
          places_marker[i].setMap(null);
        }
      }
      places_marker.length = 0;
    }
    function close_all_info_windows() {
      for (var i = 0; i < info_windows.length; i++) {
         info_windows[i].close();
      }
    }
    function create_marker(place_info)
    {
      var contentString;
      var infowindow;
      var image;
      var marker;
      var latlng;

      if (place_info["type"] == "Location") {
        var image = new google.maps.MarkerImage(
          place_info["image"],
          null, /* size is determined at runtime */
          null, /* origin is 0,0 */
          null, /* anchor is bottom center of the scaled image */
          new google.maps.Size(40, 40)
        );

        //image = "/assets/images/marker-icon-small.png";
        latlng = new google.maps.LatLng(place_info["latitude"], place_info["longitude"]);
        /*marker = new google.maps.Marker({
          position: latlng,
          map: map,
          icon: image,
          title: place_info["name"]
        });*/

        marker = new RichMarker({
          position: latlng,
          map: map,
          draggable: false,
          anchor: RichMarkerPosition.MIDDLE,
          content: '<div class="rich_marker"><img style="width:80px;" src="' + place_info["image"] + '" title="' + place_info["name"] + '"/></div>'
        });

        contentString = '<div class="infowindow"><div class="infowindow_image"><a href="' + place_info["path"] + '"><img src="' + place_info["image"] + '" class="photo_in_profile" alt=""></a></div><div class="infowindow_content"><div class="bold_text"><a href="' + place_info["path"] + '">' + place_info["name"] + '</a></div>' + '<div class="infowindow_desc"><span class="wordwrap">' + place_info["desc"] + '</span></div></div></div>';
        infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
        //infowindow.open(map,marker);
        info_windows.push(infowindow);
        places_marker.push(marker);
      }
    }
  </script>

<% end %>
<div class="page-container-full">
  <div id="content-full">
    <div class="content_map"><div id="discover"></div></div>
    <div class="content_album">
      <div class="title_text"><span class="wordwrap"><%= @user.profile.full_name%></span> <%= t('.title')%></div>
      <ul class="gallery">
        <div class="cover_image">
          <% if is_current_user(@user) %>
            <div class="cover_image_cont"><%= link_to image_tag('camera-128.png'), new_user_photo_album_path(@user) %></div>
            <div class="album_name"><%= t('.new_album')%></div>
          <% end %>
        </div>
        <div id="added_photo_album"></div>
        <% @photo_albums.each do |photo_album| %>
          <%= render :partial => 'photo_album', :locals => { :photo_album => photo_album, :user => @user } %>
        <% end %>
      </ul>
    </div>
    <div class="padding">

    </div>
  </div>
</div>

<script id="albums_json" type="text/json">
  <%= raw @result_list.to_json %>
</script>