<div class="item_float">
  <div class="place-found-small">
    <div class="place-photo-small">
      <%=h link_to image_tag(get_small_photo_url(city.default_photo), :class => ""), city_path(city) %><br/>
    </div>
      <div class="place-desc">
        <div class="general_box">
          <div class="break-word shorten_no_link">
            <%=h city.name %>
          </div>
          <%= fa_icon("comment", :class => "bluecolor smallsize hastip", :title => "Review") %> <%= city.reviews_count %>
          <%= fa_icon("heart", :class => "redcolor smallsize hastip", :title => "Like") %> <%= city.favorite_cities_count %>
          <%= fa_icon("user", :class => "blackcolor smallsize hastip", :title => "Visitor") %> <%= city.visited_cities_count %>
          <span class="right_div"><%= link_to fa_icon("map-marker", :class => "cyancolor mediumsize"), "", :id => "show_on_map", :'data-index' => index, :class => "general show_on_map hastip", :title => "Show on map" %></span>
        </div>
      </div>
    </div>

  </div>