<div class="city">
  <%=h link_to image_tag(get_small_photo_url(city.default_city_photo), :class => "city_image"), city_path(city) %><br/>
  <%= link_to city, :class => "white_text" do %>
    <div class="title_text"><span class="wordwrap"><%= city.name %></span></div>
    <div class="small_text">
      <% if city.region %>
        <%= city.region.name %>,
      <% end %>
      <%= city.country.name %>
    </div>
  <% end %>
  <div class="city-desc">
    <% if city.places_count > 0 %>
      <%= fa_icon("map-marker", :class => "orangecolor mediumsize") %> <%= pluralize(city.places_count, "place") %>
    <% end %>
  </div>
</div>

