<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=h yield(:title) %></title>
  <meta name="description" content="Share your favorite places">
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_KEY'] %>&libraries=geometry&sensor=false"></script>
  <%#= javascript_include_tag "http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=" + Footprint32::Application.config.MAPQUEST_API %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= timeago_script_tag %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#logout').click(function(e) {
            FB.getLoginStatus(function(response) {
                if (response.authResponse) {
                    return FB.logout();
                    //FB.Auth.setAuthResponse(null, 'unknown');
                    //top.location.href = '<%= Footprint32::Application.config.HOST_NAME %>'
                }
                return true;
            });
        });
    });
    $(document).ajaxError(function(e, XHR, options){
      if (XHR.status == 401){
        window.location.replace("<%= new_user_session_path %>");
      }
    });
  </script>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>  
  <div id="main-nav"></div>
    <div class="page-container">
      <div id="navwrapper">
        <div class="header">

        </div>
        <div id="menuh" class="left_menu">
          <ul class="left_menu">
            <li><%= link_to(image_tag("koedok-logo.png", :class => "logo"), home_index_path) %></li>
          </ul>
        </div>
        
        <% if user_signed_in? %>
          <div id="menuh" class="right_menu">
          <ul class="right_menu">
            <a href="#" data-dropdown="#dropdown-user"><%= fa_icon("gear", :class => "lightgraycolor largesize") %></a>
          </ul>
          <ul class="right_menu">
            <li><%= link_to image_tag(get_profile_photo_url(current_user.profile_photo), :class => "profile") + " " + current_user.profile.first_name, user_profile_path(current_user) %></li>
          </ul>
          <ul class="right_menu">
            <li><%= link_to fa_icon("compass", :class => "lightgraycolor largesize"), places_path, :class => "hastip", :title => t('.place') %></li>
          </ul>
          <ul class="right_menu">
            <% unread_messages = current_user.unread_messages.count %>
            <% if unread_messages > 0 %>
              <li><%= link_to fa_icon("envelope", :class => "redcolor largesize"), messages_path, :class => "hastip", :title => "You have #{unread_messages} messages" %></li>
            <% else %>
              <li><%= link_to fa_icon("envelope", :class => "lightgraycolor largesize"), messages_path, :class => "hastip", :title => "Message" %></li>
            <% end %>
          </ul>
          <ul class="right_menu">
            <li><%= link_to fa_icon("home", :class => "lightgraycolor largesize"), home_index_path, :class => "hastip", :title => t('.home') %></li>
          </ul>
          <ul class="right_menu searchbox">
            <%= form_tag(search_index_path, :method => "get") do %>
              <li>
                <span class="field">
                  <%= text_field_tag(:search, "", :placeholder => t(".search_placeholder")) %><%= submit_tag "", :class => "searchbutton" %>
                </span>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <% if !current_user.location.nil? %>
              <ul class="right_menu">
                <li><span class="wordwrap"><%= link_to fa_icon("map-marker", :class => "whitecolor largesize") + " " + current_user.location.city.name, city_path(current_user.location.city), :class => "hastip", :title => "#{t('.last_location')} : #{current_user.location.city.name} - #{current_user.location.country.name}" %></span></li>
              </ul>
            <% end %>
          <% end %>
          </div>
        <!-- end the menuh div -->
        <% else %>
          <% if controller_name != 'sessions' && controller_name != 'registrations' &&
           controller_name != 'passwords' && controller_name != 'confirmations' &&
           controller_name != 'unlocks' %>
            <div id="menuh" class="right_menu">
            <ul class="right_menu">
              <li>
                <%#= link_to "Login", new_user_session_path %>
                <a href="#" data-dropdown="#dropdown-login">Login</a>
              </li>
            </ul>
            <ul class="right_menu">
              <li><%= link_to "Register", new_user_registration_path %></li>
            </ul>
            </div>
          <% else %>
          <% end %>
        <% end %>
      </div>


    </div>
  <div id="header">
  </div>
  <div id="main">
    <div id="wrap">
      <div class="main-area">
        <%#*<div id="flash">%>
        <%# flash.each do |name, msg| %>
          <%#= content_tag :div, msg, :class => "alert" %>
        <%# end %>
        <%# flash.discard(:error) if flash[:errors] %>
        <%# flash.discard(:errors) if flash[:errors] %>
        <%# flash.discard(:notice) if flash[:notice] %>
        <%#*</div>%>
        <%# flash.each do |name, msg| %>
          <%#= content_tag :div, msg, :id => "flash_#{name}" %>
        <%# end %>
        <script>
          $(function() {
            <% flash.each do |name, msg| %>
              <% if msg == true %>
              <% else %>
                $.jGrowl('<%= escape_javascript(flash.discard(name)) %>');
              <% end %>
            <% end %>
          });
        </script>
        
        <div class="nojs"><noscript>Please enable javascript. <%= Footprint32::APP_NAME %> needs javascript to fully function</noscript></div>
        <% if cookies %>
          <%= render 'peek/bar' %>
        <% end %>
        <%= yield %>
      </div>
      <div class="end-main-area"></div>
    </div>
  </div>
  <div id="footer">
    <div class="page-container small_text">
      <div id="altnav">
        <%= link_to t('.about'), help_about_path %> -
        <%= link_to t('.cookies'), help_cookies_path %> -
        <%= link_to t('.help'), help_index_path %> -
        <%= link_to t('.terms'), help_terms_path %>
      </div>
      <%= t('.copyright') %> © Koedok <%= t('.made') %> <%= fa_icon("heart", :class => "redcolor")%> <%= t('.in') %> <%= link_to "Weingarten", city_path(29053), :class => "general" %>
      <br />
    </div>
  </div>

  <div id="fb-root"></div>
  <script type="text/javascript">

      window.fbAsyncInit = function() {
        FB.init({
          appId: '<%= Footprint32::Application.config.FB_APP_ID %>',
          status: true,
          cookie: true,
          xfbml: true});
      };

      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());

  </script>
</body>

<% if user_signed_in? %>
  <div id="dropdown-user" class="dropdown dropdown-tip dropdown-anchor-right">
    <ul class="dropdown-menu">
      <li><%= link_to t('.photo'), user_photo_albums_path(current_user) %></li>
      <li><%= link_to t('.event'), user_events_path(current_user) %></li>
      <li><%= link_to "Smart Ride", user_trips_path(current_user) %></li>
      <li class="dropdown-divider"></li>
      <li><%= link_to t('.edit_profile'), edit_user_profile_path(current_user) %></li>
      <li><%= link_to "Share Setting", user_shares_path(current_user) %></li>
      <li><%= link_to t('.account'), edit_user_registration_path %></li>
      <li><%= link_to t('.logout'), destroy_user_session_path, :method => 'delete', :id => "logout" %></li>
    </ul>
  </div>
<% end %>

<div id="dropdown-login" class="dropdown dropdown-tip dropdown-anchor-right">
  <ul class="dropdown-menu">
    <div class="login_form">
      <div class="title_text"><%= t('.sign_in', :default => "Sign in") %></div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div>
          <%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email'), :class => "sidebar_input" %>
        </div>
        <div>
          <%= f.password_field :password, :placeholder => t('activerecord.attributes.user.password'), :class => "sidebar_input"  %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="check_box_container">
            <div class="check_box_div"><%= f.check_box :remember_me %></div><%= f.label t('activerecord.attributes.user.remember_me') %>
          </div>
        <% end -%>
        <div>
          <%= f.submit t('.sign_in', :default => "Sign in"), :class => "general-button" %>
        </div>
      <% end %>

      <div class="general-padding">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <% if provider.to_s == "google_oauth2" %>
            <%= link_to t('.sign_in_with_provider', :provider => "Google", :default => "Sign in with Google"), user_omniauth_authorize_path(provider), :class => "btn-auth btn-#{provider.to_s}" %><br />
            <% else %>
            <%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), user_omniauth_authorize_path(provider), :class => "btn-auth btn-#{provider.to_s}" %><br />
            <% end %>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </ul>
</div>
</html>
